.guess{
    background-color: #303030;
    border: solid white 1px;
    border-radius: 3%;
    width:auto;

}
table {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

td{
    width: auto;
}
#ans{
    width: auto
}
#wybor{
    width: 90%;
    margin: auto;
}